<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Размеры окна простой версии калькулятора-->
		<add key="simpleModeHight" value="484"/>
		<add key="simpleModeWidth" value="364"/>
		
		<!--Размеры окна простой расширеной калькулятора-->
		<add key="advandcedModeHight" value="484"/>
		<add key="advandcedModeWidth" value="534"/>

		<!--Базовые настройки цвета интерфейса-->
		<add key="default_Button_Num_Color" value="Lemonchiffon"/>

		<!--Пользовательские настройки цвета интерфейса-->
		<add key="user_Button_Num_Color" value="-1331"/>

	</appSettings>
</configuration>